<p>Nombre del Empleado: {{nombre}}</p>
<p>Apellido del Empleado: {{apellido}}</p>
<p>Edad del Empleado: {{edad <18 ? "Menor de edad" : "Mayor de edad"}}</p>
<p>Empresa del Empleado:{{empresa.value}}</p>
Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro"/>
<br/>
<br/>
{{textoDeRegistro}}<br/>
Registrado: <input type="radio" name="nRegistro" value="si" id="registro" [checked]="userLogin" (click)="setUserLogin($event)"/><br/>
No registrado: <input type="radio" name="nRegistro" value="no" (click)="setUserLogin($event)"/>
{{getUserLogin()}}



